.btn-framgia {
    background-color: #eb442e
}
.framgia-icon > img {
    width: 100%;
    vertical-align: baseline;
}
.register-with-framgia {
    margin-top: 5px;
}
.register-with-framgia > span {
    padding: inherit;
}
.image-column {
    text-align: center;
}
.table-thumbnail {
    width: auto;
    height: auto;
    max-width: 40px;
    max-height: 40px;
}
.m-dropdown__header m--align-center {
    background: url('/vendor/metronic/assets/app/media/img/misc/user_profile_bg.jpg');
    background-size: cover;
}
#m_ver_menu {
    position: relative;
}
#holder {
    margin-top:15px;
    max-height:100px;
}
